.container_school-segments {
  @apply --theme_ebsco-light-blue;
  padding: 50px 0;

  & .content {
    margin-bottom: 32px;

    & .btn.btn-hollow {
      border-color: rgb( 255, 255, 255 );

      & .btn-target {
        align-items: center;
        color: rgb( 255, 255, 255 );
        display: flex;
        font-size: 18px;
        height: 60px;
        justify-content: center;
        line-height: 1.5;
      }
    }
  }
}
