.container_secondary-description {
  /*max-height: 300px;
  overflow: hidden; */
  margin-bottom: 50px;
  & a {
    font-weight: 600;
  }
  & a > em {
    font-weight: 600; font-style: italic;
  }
  & em > a {
    font-weight: 600; font-style: italic;
  }
}
.container_additional-materials a {
  font-weight: 600;
}
