.container_customer-story {
  @apply --theme_ebsco-light-blue;
  padding: 30px 0;

  & .content-story {
    margin-top: 24px;
  }

  & h2 {
    font-size: 16px;
    font-style: italic;
  }

  & a {
    color: rgb( 255, 255, 255 );
    font-weight: 600;
  }

  & a:hover {
    border-color: rgb( 255, 255, 255 );
  }

  & .headline {
    font-size: 26px;
    & a {
      font-weight: 400;
    }
  }
}
