.container_container-annoucement {
  background-color: var(--standard-light-gray);
  padding: 40px 0 24px;
  text-align: center;
}
.container_container-annoucement .headline {
  font-size: 22px;
}
.container_container-annoucement a {
  font-weight: 600;
}
