/*
    ========================================
        ::container_featured-db
    ========================================
*/
.container_featured-db {
  /* background: url( ../img/slash_bg.jpg) 0 0 transparent; */
  background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255, 255, 255, 0.5)), url( ../img/slash_bg.jpg);
  padding: 50px 0 18px;
}
