/*
    ========================================
        ::GUILLEMET LINK
    ========================================

    MARKUP:
    ========================================
    <a class="guillemet_link" href="yourlink">Here is some link text</a>

    NOTES:
    ========================================
    When you use this, a space and guillemet will be appended to your link text.
*/
.guillemet_link::after {
    content: '\00a0\00BB';
}

/*  END GUILLEMET LINK  */
