.chart-list {
  display: block;
  margin: 0;
  padding: 0;
  & li {
    background: url( ../img/All_icons.png ) 0 -1796px no-repeat transparent;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0 0 32px 32px;
  }
}
