/*
    ========================================
        ::product list
    ========================================
*/
.product-list {
    display: block;
    margin-bottom: 32px;
}
.product-list dt {

}
.product-list dd {
  margin: 0;
}
.product-list a {
  font: 600 16px/1.5 var(--myriad-pro-regular);
}

@media screen and (min-width:801px) {
  .product-list {
      margin-bottom: 0;
  }
}
